
{{>rate this}}

    <div class="h-auto w-auto  grid md:grid-cols-4 md:grid-rows-3 sm:grid-cols-2 sm:grid-rows-6 gap-2  text-lg mt-20  px-24  py-10 bg-gray-100" id="app">


        
        <div class="border border-solid border-black hover:cursor-pointer bg-lime-500 w-44 text-center  text-lg text-white font-bold h-32  hover:scale-125" onclick="location.href='/users'" id="users"> Users <div ><i class="fa-solid fa-user-astronaut fa-2xl mt-8"></i></div> </div>
    
        <div class="border border-solid border-black hover:cursor-pointer bg-emerald-500 w-44 mb-2 text-center text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='workflows'" id="workflows">Workflows <div ><i class="fa-solid fa-arrows-turn-to-dots fa-2xl mt-8"></i></div></div>
        
        <div class="border border-solid border-black hover:cursor-pointer bg-indigo-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/departments'" id="departments">Departments <div ><i class="fa-solid fa-sitemap fa-2xl mt-8"></i></div></div>
        
        <div class="border border-solid border-black hover:cursor-pointer bg-cyan-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/groups'" id="groups">Groups <div ><i class="fa-solid fa-people-group fa-2xl mt-8"></i></div></div>
    
        <div class="border border-solid border-black hover:cursor-pointer bg-purple-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/adminRequests'" id="all_requests">All Requests <div ><i class="fa-solid fa-folder-open fa-2xl mt-8"></i></div></div>
    
        <div class="border border-solid border-black hover:cursor-pointer bg-amber-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/makeRequest'" id="make_requests" >Make Requests<div ><i class="fa-solid fa-file-circle-question fa-2xl mt-8"></i></div></div>
        
        <div class="border border-solid border-black hover:cursor-pointer bg-blue-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/myRequests'" id="my_requests">My Requests<div ><i class="fa-solid fa-file-export fa-2xl mt-8"></i></div></div>
    
        <div class="border border-solid border-black hover:cursor-pointer bg-yellow-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/currentRequests'" id="current_requests">Current Requests<div ><i class="fa-solid fa-file-import fa-2xl mt-8"></i></div></div>
       
        <div class="border border-solid border-black hover:cursor-pointer bg-rose-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/showAllFiles'" id="current_requests">All Uploaded Files<div ><i class="fa-solid fa-folder-tree fa-2xl mt-8"></i></div></div>
        
        <div class="border border-solid border-black hover:cursor-pointer bg-teal-500 w-44 text-center   text-lg rounded-sm text-white font-bold h-32 hover:scale-125" onclick="location.href='/signature'" id="signature">Signature<div ><i class="fa-solid fa-signature fa-2xl mt-8"></i></div></div>

      





  </div>


        

        <script>





$("document").ready(function(){

    function getRating(number){
      $('#rating').text(number);
      var total = 4
      console.log('event fired')
      console.log(number)
          for(let x = 0; x < number; x++){
              list[x].style.color = "gold"
            }

          for(let x = total ; x > number - 1; x--){
            list[x].style.color = "grey"
          }


        };


  const tour = new window.Shepherd.Tour({
  useModalOverlay: true,
  defaultStepOptions: {
    classes: 'shadow-md bg-purple-dark',
    scrollTo: true
  }
});


tour.addStep({
  id: 'steps',
  text: 'If you are seeing this it means you have been granted admin priviledges by the master admin. This is your main dashboard. From here you can access all the pages required to do administrative duties.',
  attachTo: {
    element: '#app',
    on: 'right-start'
  },
  classes: 'example-step-extra-class',
  buttons: [

     {
      text: 'Exit',
      action: tour.cancel
    },
    {
        text: "Next",
        action: tour.next
    }
  ]
});


tour.addStep({
  id: 'steps',
  text: 'This is showing the email and the name of the current logged in user. In this case it is you.',
  attachTo: {
    element: '#info',
    on: 'bottom'
  },
  classes: 'example-step-extra-class',
  buttons: [

     {
      text: 'Exit',
      action: tour.cancel
    },
    {
        text: "Next",
        action: tour.next
    }
  ]
});


tour.addStep({
  id: 'steps',
  text: 'click this button if you want to add, edit or remove users. Users are basically other people who are not admins but can use this app.',
  attachTo: {
    element: '#users',
    on: 'right'
  },
  classes: 'example-step-extra-class',
  buttons: [

     {
      text: 'Exit',
      action: tour.cancel
    },
    {
        text: "Next",
        action: tour.next
    }
  ]
});


tour.addStep({
  id: 'steps',
  text: 'click this button if you want to add, edit or remove workflows. Workflows are templates that other users can use to start a document approval process',
  attachTo: {
    element: '#workflows',
    on: 'left'
  },
  classes: 'example-step-extra-class',
  buttons: [

     {
      text: 'Exit',
      action: tour.cancel
    },
    {
        text: "Next",
        action: tour.next
    }
  ]
});


  $("#submitReview").on('click', function(){

   var text = $("#review").val();
   var rating = $("#rating").text();

   var data = {
    text:text,
    rating:rating
   }

    axios.post("/submitReview", data).then((result)=>{
      $("#cancelFeedbackBox").click();
    })
  })



  $("#cancelFeedbackBox").on('click', function(){
    $('#ratingContainer').fadeOut();
  })


  console.log("document ready")
var userFeedback = "{{user.gotFeedback}}"

console.log("user feed")
console.log(userFeedback)

if(!userFeedback){
  console.log("user feedback")
   console.log(userFeedback)
  $('#ratingContainer').css('position', 'fixed').css('display', 'block').animate({
    top:'100'
  }, 500)

}

  var star1 = $('#s1')[0];
  var star2 = $('#s2')[0];
  var star3 = $('#s3')[0];
  var star4 = $('#s4')[0];
  var star5 = $('#s5')[0];


  var list = [star1, star2, star3, star4, star5];

   for(let x = 0; x < list.length; x++){
          list[x].addEventListener('click', function(){
            getRating(x+1)
            
          })
        }


    



}); 

          
        </script>
