
    <div id="editor_container" class="h-screen w-full"></div>
     

     <h1 id="image" style="visibility:hidden">{{image}}</h1>
      <h1 id="token" style="visibility:hidden">{{token}}</h1>


    <script src="/javascripts/image_editor.js"></script>
    
